.idea
nbproject
.buildpath
.project
.settings
.DS_Store
Thumbs.db

/vendor
composer.phar

.php-cs-fixer.cache

.phpunit.cache
phpunit.phar
.phpunit.result.cache
/tests/data
/composer.lock

example.php
